version: "3.2"

services:
  expo:
    build:
      context: .
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    # env_file:
    #   - .env
    ports:
      - 19000:19000
      - 19001:19001
      - 19002:19002
